[defaults]
inventory=/home/student/ansible/inventory
remote_user=student
ask_pass=false
roles_path=/home/student/ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_paths=/home/student/ansible/mycollections:/usr/share/ansible/collections

[privilege_escalation]
become=true
become_user=root
become_method=sudo
become_ask_pass=false


